<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tal Sperling - Growth Hacker</title>



  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />

  @!section('styles')
  @!section('scripts')


<script src="https://kit.fontawesome.com/606be30f2d.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>



  
</head>

<body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Tal Sperling - <span style="color:green;">Growth Hacker</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-scroll href="#aboutAnchor">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#strategiesAnchor">Strategies</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#contactAnchor">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  @!section('content')


    <!-- Footer -->

 <div class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="m-0 text-center text-black">Copyright &copy; Tal Sperling - Growth Hacker 2020</p>
      </div>
      <div class="col-md-6" >
       <img class="social" src="../images/youtube.png" alt="">
       <img class="social" src="../images/facebook.png" alt="">
       <img class="social" src="../images/linkedin.png" alt="">
      </div>
    </div>
  </div>
   

 </div>

   <script>
  AOS.init();
</script>

  <script>
    var scroll = new SmoothScroll('a[href*="#"]', {
    speed: 500,
    speedAsDuration: true
});
</script> 

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.bundle.min.js"></script>


  @!section('scripts')

</body>

</html>
