  @layout('layouts.app')


@section('content')

  <!-- Header -->

  <header class="bg-primary py-5 mb-5" id="heading">
    <div class="container h-100">
      <div class="row h-100 align-items-center" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">
        <div  class="col-lg-12">
          <h1 id="headerText" class="display-4 text-white mt-5 mb-2">Tal Sperling <span style="color:green;">Growth Hacker</span> Portfolio</h1>
          <h3 id="headerSubText" >Specialist In Increasing Client Engagement & Growing Client Business With <span style="color:green;"> Digital Marketing Strategies</span></h3>
          <a href="#contactAnchor" class="btn btn-success"><strong>Contact Me</strong></a>
        </div>
      </div>
    </div>
  </header>
 

  <!-- Page Content -->
  <div class="container">
<div id="aboutAnchor" style="padding-top:100px;">
    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Who Am I</h2>
        <hr>
        <p>I am a <strong>Growth Hacker</strong></p>
        <p>I build custom based digital marketing strategies specific to a client's industry and needs.</p>
        <p>With my digital strategies, you can reach your clients faster and more efficiently and increase client engagement. I can help you connect with your clients by offering a fully customisable strategy that uses the most innovative technology and take you step by step through your journey to success.</p>
        <p><strong>I don't offer a product. I offer a partnership.</strong></p>
        

        <a href="#contact" class="btn btn-success"><strong>Contact Me</strong></a>
        <a href="#cv" class="btn btn-success"><strong>Download My C.V.</strong></a>
      </div>
      <div class="col-md-4 mb-5" data-aos="flip-left" data-aos-offset="300"
     data-aos-easing="ease-in-sine">
        <img class="shadow-lg p-3 mb-5 bg-white rounded" src="images/about.jpg" style="width:100%; height:70%">
      </div>
    </div>

    <!-- /.row -->
    <h2>Strategies</h2>
   
    <h4>A strategy is a journey that a growth hacker takes with the client.</h4>
    <hr>
 <div class="row">

      <div class="col-md-3" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">
        <div class="card h-100 shadow-lg p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="images/landingpage.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Marketing Website</h4>
            <p class="card-text">I build and design a stylish marketing website / landing page where potential clients can get relevant information about the business and more importantly, <strong>the site will have clear call to actions where the potential clients can easily contact you.</strong> </p>
          </div>
          <div class="card-footer">
            <a href="#contact" class="btn btn-success"><strong>Find Out More!</strong></a>
          </div>
        </div>
      </div>
      <div class="col-md-3" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">
        <div class="card h-100 shadow-lg p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="images/marketing.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Social Media & SEO</h4>
            <p class="card-text">Connecting the landing page to social media platforms and the Google search engine so that the specific target market can be targetted.</p>
          </div>
          <div class="card-footer">
           <a href="#contact" class="btn btn-success"><strong>Find Out More!</strong></a>
          </div>
        </div>
      </div>
      <div class="col-md-3" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">
        <div class="card h-100 shadow-lg p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="images/engagement.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Client Engagement</h4>
            <p class="card-text">Innovative tools so  engage with clients effectively. These tools are specific to the needs and industry. Can also be integrated with current systems.</p>
          </div>
          <div class="card-footer">
            <a href="#contact" class="btn btn-success"><strong>Find Out More!</strong></a>
          </div>
        </div>
      </div>
            <div class="col-md-3" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">
     <div class="card h-100 shadow-lg p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="images/dashboard.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Marketing Videos</h4>
            <p class="card-text">I can create marketing videos that help the client engage with their clients. I have experience using Adobe Premium and online platforms like powtoons.</p>
          </div>
          <div class="card-footer">
            <a href="#contact" class="btn btn-success"><strong>Find Out More!</strong></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

</br>
</br>

     <!-- /.row -->
    <h2>Tools</h2>
     <h4>There are so many client engagement tools that offer great APIs</h4>
      <h4>I have the expertise to manipulate these APIs into a simple to use platform for any client of any industry </h4>
      <p><stong>Some Examples:</strong></p>
    <hr>
 <div class="row">
    
  <!--Grid column-->
  <div class="col-md-6 mb-4" >

    <!-- Card -->
    <div class="card gradient-card" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">

        <div class="card-image" >

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask blue-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title" style="color:black">Mail Chimp</h3>
                
              </div>
              <div class="second-content align-self-center mx-auto text-center">
                <i class="far fa-money-bill-alt fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

       
        <!-- Content -->
        <div class="card-body white">
         
          
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">Mail Chimp is an amazimg platform that lets you control your email marketing.</p>
          <p class="text-muted" align="justify">Mail chimp lets you do things like: </p>
          <ul class="text-muted" align="justify">
            <li>Audience management</li>
            <li>Marketing automation</li>
            <li>Insights and analtytics</li>
          </ul>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">

        <div class="card-image">
        
          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask purple-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title" style="color:black">Facebook APi</h3>
                
              </div>
             
            </div>
          </a>

        </div>

      
        <!-- Content -->
        <div class="card-body white">
          
          
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">The facebook API lets your clients share your content to facebook growing your potential client base. With the API I can also built a Facebook Messenger bot. The following can be done with the API: </p>
           <ul class="text-muted" align="justify">
            <li>Audience management</li>
            <li>Marketing automation</li>
            <li>Insights and analtytics</li>
          </ul>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">

        <div class="card-image" >

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask peach-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title" style="color:black;">Google Ads</h3>
                
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                <i class="fas fa-chart-pie fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        
        <!-- Content -->
        <div class="card-body white animated">
         

          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">Google Ads lets you optimize potential clients' search results so that your website will be the first and most appealing one. Google ads has an amazing analtytics platform with a simple API. With this API I can create automated reports that can help clients understand their clientele.</p>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">

        <div class="card-image"">

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask aqua-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title" style="color:black;">Online Forms</h3>
                
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                <i class="fas fa-chart-line fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

       
        <!-- Content -->
        <div class="card-body white">
         
         
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">Add any type of form to the clients' website so that they can collect data for their business. forms can be as simple or as complicated as needed, from a simple contact form to a multi page form which includes a variety of input types.</p>
        </br>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

    <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">

        <div class="card-image">
        
          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask purple-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title" style="color:black">Marketing Videos</h3>
                
              </div>
             
            </div>
          </a>

        </div>

      
        <!-- Content -->
        <div class="card-body white">
          
          
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">A great way to reach your clients is via videos. I can create different types of videos from marketing to explainer videos using online apps like powtoons or build one from scratch using <strong> Adobe Premium,</strong></p>
        </div>

    </div>
    <!-- Card -->

  </div>

    </div>




    <!-- /.row -->



<div id="contactAnchor" style="padding-top:100px; padding-bottom:100px;" data-aos="fade-right" data-aos-offset="300"
     data-aos-easing="ease-in-sine">
    <h2>Contact Our Support And Sales Team</h2>

    <hr>
    <div class="row">
        <div class="col-md-6" id="contact_img">

            


        </div>
        <div class="col-md-6">

                          <form>
                              <div class="form-group">
                                <label>Full Name</label>
                                <input style="background-color:black; color:white" type="email" class="form-control" name="name" placeholder="Full Name">
                              </div>
                              <div class="form-group">
                                <label>Email address</label>
                                <input style="background-color:black; color:white" type="email" class="form-control" name="email" placeholder="name@example.com">
                              </div>
                              
                              <div class="form-group">
                                <label>Message</label>
                                <textarea style="background-color:black; color:white" class="form-control" name="message" rows="6" placeholder="Message"></textarea>
                              </div>

                              <div class="form-group">
                                <button type="submit" class="btn btn-success">Send Message</button>
                              </div>


                              
                </form>
        </div>
    </div>

</div>
  </div>


  <!-- /.container -->



@endsection